@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
  margin: 0;
}




* {
  font-family: "Jua", sans-serif;
  font-weight: 100;
  font-style: normal;
}

nav {
  display: flex;
  align-items: center;
  background-color: #cae1f8;
  padding: 0;
  width: 100%;
}


.nav-container{
  display: flex;
  align-items: center;
}

nav a {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #000; 
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
  height: 3vw;
  width: 9vw;
  /* height and width is where u change stuff */
  padding: 0.4vw 0.8vw;
}

nav a:hover {
  background-color: #5b4681;
  color: #fff;
}

nav a.active {
  background-color: #e8e1f8;
  color: #000000;
}

.home-logo {
 width: 15vw;
margin-top: 1.5vw;
}

/* carousel */
.carousel {
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30vw;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  width: 100%;
}

/* button control */
.carousel-control {
  background: #faf2db;
  opacity: 80%;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
  line-height: 2vw;
  display: none;
  font-size: 3vw;
  height:  2.4vw;
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translate(0, -50%);
  text-align: center;
  width: 2.5vw;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: #5b4681;
  color: #fff;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2.5vw;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #428bca;
}

.caption {
  position: absolute;
  top: 12vw;
  border-radius: 10px;
  left: 50vw;
  transform: translateX(-50%);
  background-color: #faf2db;
  color: #000;
  font-size: 4vw;
  padding: 2vh;
  text-align: center;
  width: 35vw;
  height: 10vw;
  z-index: 10;
}

.caption-2 {
  position: absolute;
  top: 12vw;
  border-radius: 10px;
  left: 50vw;
  transform: translateX(-50%);
  background-color: #e1daf5;
  color: #000;
  font-size: 4vw;
  padding: 2vh;
  text-align: center;
  width: 35vw;
  height: 10vw;
  z-index: 10;
}

.section-1-two-column{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
  margin-top: 2vw;
  margin-left: 6vw;
}

.section-1-two-column1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
  margin-top: 2vw;
  margin-left: 6vw;
}

h1 {
  font-size: 2.5vw;
}
li {
  font-size: 1.5vw;
}

.photo-1 {
 width: 90%; 
 margin-left: 10w;
}


.section-2-two-column{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
  margin: 2vw;
  margin-left: 1vw;
  margin-bottom: 3vw;
}

.section-2-two-column2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
  background-color: #faf2db;
  margin-top: 2vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.photo-2 {
  width: 90%;
  margin-left: 3vw;
}

.photo-3 {
  width: 90%;
  margin-left: 5vw;
  margin-top: 2vw;
}

.section-3-three-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #faf2db;
  padding-bottom: 2vw;
}

.section-3-three-column3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 3vw;
}

.section-4-three-column3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #faf2db;
}

.section-3-three-column4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.picture {
  width: 80%;
  align-items: center;
  margin-left: 3vw;
  margin-top: 3vw;
  margin-bottom: -2vw;
  border-radius: 0.8vw;
}

.picture1 {
  width: 80%;
  align-items: center;
  margin-left: 3.5vw;
  margin-top: -1vw;
  margin-bottom: 2vw;
  border-radius: 0.8vw;
}

button {
  background-color: #cae1f8;
  border-radius: 0.8vw;
  border-style: none;
  margin-bottom: 3vw;
  margin-left: 11.5vw;
  width: 9vw;
  height: 2.3vw;
}

button a {
  text-decoration: none;
  font-size: 1.3vw;
  color: #000;
  margin-bottom: 25vw;
}

button:hover {
  background-color: #6f462abd;
  color: #fff;
}

.footer {
  width: 100%;
  background-color: #aecbe4;
  color: #000;
  text-align: left;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.section-2-two-column2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
  background-color: #faf2db;
  margin-top: 10vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}