@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  font-family: "Jua", sans-serif;
  font-weight: 100;
  font-style: normal;
}

body{
  margin: 0;
}

.footer {
  width: 100%;
  background-color: #aecbe4;
  color: #000;
  text-align: left;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

h2 {
  font-size: 2.5vw;
}

li {
  font-size: 1.2vw;
}

.button {
  background-color: #BA96B0;
  border-radius: 0.8vw;
  border-style: none;
  margin-bottom: 2vw;
  margin-left: 13vw;
  width: 7vw;
  height: 2.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vw;
  text-decoration: none;
  font-size: 1vw;
  color: #000;
}

.button:hover {
  background-color: #6f462abd;
  color: #ffffff;
}

/* navigation bar */
nav {
  display: flex;
  align-items: center;
  background-color: #cae1f8;
  padding: 0;
  width: 100%;
}


.nav-container{
  display: flex;
  align-items: center;
}

nav a {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #000; 
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
  height: 3vw;
  width: 9vw;
  padding: 0.4vw 0.8vw;
}

nav a:hover {
  background-color: #5b4681;
  color: #fff;
}

nav a.active {
  background-color: #e8e1f8;
  color: #000000;
}
/* navigation bar styling end */

/* home logo image */
.home-logo {
 width: 15vw;
margin-top: 1.5vw;
}

/* carousel */
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30vw;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  width: 100%;
}

/* button control */
.carousel-control {
  background: #faf2db;
  opacity: 80%;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
  line-height: 2vw;
  display: none;
  font-size: 3vw;
  height:  2.4vw;
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translate(0, -50%);
  text-align: center;
  width: 2.5vw;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: #5b4681;
  color: #fff;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2.5vw;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #428bca;
}

/* title box */
.caption {
  position: absolute;
  top: 12vw;
  border-radius: 10px;
  left: 50vw;
  transform: translateX(-50%);
  background-color: #faf2db;
  color: #000;
  font-size: 4vw;
  padding: 2vh;
  text-align: center;
  width: 35vw;
  height: 10vw;
  z-index: 10;
}
/* carousel styling end */

/* painting title box */
.caption-2 {
  position: absolute;
  top: 12vw;
  border-radius: 10px;
  left: 50vw;
  transform: translateX(-50%);
  background-color: #e1daf5;
  color: #000;
  font-size: 4vw;
  padding: 2vh;
  text-align: center;
  width: 35vw;
  height: 10vw;
  z-index: 10;
}

/* homepage first section (what is this website)*/
.section-1-two-column{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
  margin-top: 2vw;
  margin-left: 6vw;
}

/* homepage second section (what is artblock)*/
.section-2-two-column{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  margin: 2vw;
  margin-left: 1vw;
  margin-bottom: 3vw;
}

/* homepage third section (buttons to other pages)*/
.section-3-three-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #faf2db;
  padding-bottom: 2vw;
}

/* photo next to homepage first section */
.sketchphoto {
 width: 90%; 
}

/* photo next to homepage second section*/
.paint {
  width: 90%;
  margin-left: 3vw;
  margin-top: 2vw;
}

/* button photos in homepage, my own drawings in painting page, my own photographs in photography page*/
.picture {
  width: 80%;
  align-items: center;
  margin-left: 3vw;
  margin-top: 3vw;
  margin-bottom: -2vw;
  border-radius: 0.8vw;
}

/* painting first section (how do I get back into painting) */
.section-1-two-column2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
  margin-top: 2vw;
  margin-left: 6vw;
  margin-bottom: -6vw;
}

/* painting second section (prompts) + writing second section (prompts) */
.section-2-two-column2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
  background-color: #faf2db;
  margin-top: 10vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

/* painting third section (my own drawings) + photography third section (my own photographs)*/
.section-3-three-column2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 3vw;
}

/* last section in painting (other artists recommendations)*/
.section-4-three-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #faf2db;
}

/* photo next to painting first section */
.paintingphoto {
 width: 90%; 
 margin-top: 2vw;
}

/* photo in prompt section of painting */
.promptphoto {
  width: 100%;
  margin-left: 5vw;
  margin-top: 1vw;
}

/* artist recommendation photos, author recommendation photos, photographer recommendation photos */
.photo {
  width: 80%;
  align-items: center;
  margin-left: 3.5vw;
  margin-top: -0.5vw;
  margin-bottom: 1vw;
  border-radius: 0.8vw;
}

/* writing first section (writing tips) */
.section-1-two-column3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8vw;
  margin-top: 2vw;
  margin-left: 6vw;
  margin-bottom: -5vw;
}

/* writing last section (author recommendations) */
.section-3-three-column3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2vw;
}

/* photo next to writing tips */
.brainstorm-photo {
 width: 85%; 
}

/* writing photo in prompt list */
.writingprompt {
  width: 90%;
  margin-left: 4vw;
  margin-top: 2vw;
}

/* photo of tea and doctor in author recommendations in writing page */
.photo2 {
  width: 80%;
  align-items: center;
  margin-left: 3.5vw;
  margin-top: 1.5vw;
  margin-bottom: 1vw;
  border-radius: 0.8vw;
}


/* photography first section (apps for photography)*/
.section-1-two-column4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8vw;
  margin-top: 2vw;
  margin-left: 6vw;
  margin-bottom: -12vw;
}

/* photography second section (prompts) */
.section-2-two-column3 {
 display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
  background-color: #faf2db;
  margin-top: 10vw;
  padding-bottom: 1.5vw;
}

/* photography last section (photographer recommendations) */
.section-4-three-column2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* photo next to app photography section */
.editingphoto {
  width: 90%;
  height: 75%;
  border-radius: 0.8vw;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
}

/* photography photo in prompt list */
.polaroids {
  width: 100%;
  margin-left: 3vw;
  margin-top: 4vw;
}
